footer{
  
    position: absolute;
     bottom: 0;
     width: 100%;
     background:$background-footer; 
}
 footer ul li {
     margin-top: 20px;
     color: rgb(232, 238, 244);
     text-decoration: none;
     text-align: center;
     font-size: 18px;
     list-style: none;
 
 

 }
 .copyright {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;

}

.redes{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;

}

