div.Producto{
   
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 200px;

}

div.Producto img{
    width: 100%;
    height: auto;
}
