
@media  screen and (min-width: 315px) and (max-width: 1000px){
    body {
        
        position:relative;
        padding-bottom: 800px;
        min-height: 200vh;
        display:inline-block;
        overflow-x: hidden
            }
       
    }
    
    
    
     
    @media  screen and (max-width:750px){
        .logo{
          display: none;
          
    
        }
    }
    
    
    
    @media  screen and (min-width: 200px) and (max-width: 800px){
        .fase1{
            display: flex;
            flex-direction: column;
          
           
    
        }
    }
    
    @media  screen and (min-width: 200px) and (max-width: 800px){
            .fase2{
                display: flex;
                flex-direction: column;
         
        
            }
        }
    
    
        @media  screen and (min-width: 200px) and (max-width: 800px){
            .primero img{
                width: 100%;
                box-shadow: none;
                justify-content: center;
        
            }
        }
    
    
    
        @media  screen and (min-width: 200px) and (max-width: 800px){
            .segundo img{
               width: 100%;
               box-shadow: none;
               justify-content: center;
              
        
            }
        }
    
    
    
    
        @media  screen and (min-width: 200px) and (max-width: 800px){
            .text{
                justify-content: center;
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                width: 100%;
                border-radius: 20px;
                margin-top: 10px;
        
            }
        }
    
      
        @media  screen and (min-width: 200px) and (max-width: 800px){
            .formulario{
                display: block;
               justify-content: center;
              
        
            }
        }
    
        
    
        @media  screen and (min-width: 200px) and (max-width: 800px){
          main .formulario__btn{
          
        display: flex;  
        flex-direction: row;
        justify-content: left;
        width: 15%;
        margin: 30px;
              
        
            }
        }
    
      
    
    
        @media  screen and (min-width: 315px) and (max-width: 1000px){
      .texto p{
                
                 
                display: flex;  
                flex-direction: row;
                justify-content: center;
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                width:100%;
             
        
            }
        }

    
        @media  screen and (min-width: 200px) and (max-width: 800px){
           article .mapa{
            display: flex;
            flex-direction: row;
            margin: 0;
            justify-content: center;
            width: 100%;
        
            }
        }
    
        @media  screen and (min-width: 200px) and (max-width: 800px){
            footer{
                 
       position: absolute;
       bottom: 0;
       width: 100%;
            }
            
            .copyright {justify-content: center;}
            .redes{
                justify-content: space-between;
            }
        }
        
        